* , * ::before, * ::after {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar
}

body {
  margin: 0;
  font-family: "Gotham Narrow SSm A", "Gotham Narrow SSm B", "Helvetica", "Arial", "Verdana", sans-serif;
  font-size: 1rem;
  color: #000;
  text-align: left;
  background-color: #fff
}



/*Overrides */

.rts-body a {
  color: #AF001E;
}

.rts-body .text-danger {
  color: #AF001E;
}

.rts-body .form-control {
  display: inline-block;
  width: 100%;
  height: 45px;
  font-size: 18px;
  color: #666;
  border: 1px solid #dcdcdc;
  border-radius: 0;
}

.rts-body label {
  font-weight: inherit;
}



/* FORMS */

.rts-form-container {
  max-width: 30rem;
  margin: 0 auto;
  padding: 1rem 0;

  font-weight: 300;
  text-align: center;
}

.rts-form-container .form-part {
  display: block;
}

.rts-form-container .rts-message {
  display: none;
}

.rts-form-container.success .rts-message.success {
  display: block;
}

.rts-form-container.success .form-part {
  display: none;
}

.rts-form-container.error .rts-message.error {
  display: block;
}

.rts-form-title {
  font-size: 1.75rem;
  margin: 0 0 1rem;
}

.rts-form-links {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.rts-form {
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/* MESSAGE */

.rts-message.success {}

.rts-message.error {
  font-weight: 500;
  color: #AF001E;
  text-align: center;
}


/* RECAPTCHA */

.g-recaptcha {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.g-recaptcha > div {
  margin: 0 auto;
}



/* ALTERNATIVE LOGINS */

#login .social {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media (min-width: 699px) {
  #login .social {
    flex-direction: row;
  }
}

#login .social-entry {
  flex: 1;
  padding: .5rem;
}

#login .social  .login-images {
  width: 2.8125rem;
  cursor: pointer;
}

#login .social  .login-social-labels {
  font-size: .875rem;
  margin-top: 5px;
}

#login .social .identity_provider {
  color: #666666;
}

#login .social .identity_provider:hover {
  text-decoration: none;
  color: #666666;
}



/* PASSWORD COMPLEXITY */

.password-handler {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.password-handler .password-bar {
  position: relative;
  display: none;
  width: 100%;
  height: .375em;
  background-color: #f4f4f4;
}

.password-handler .password-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: red;
}

.password-complexity-explanation {
  display: none;
  padding: 1rem;
  font-size: .875em;
  font-style: normal;
  line-height: 1em;
  color: #333;
  text-align: left;
  background: #f9f9f9;
}

.password-complexity-explanation ul {
  margin: 1rem 0;
  padding: 0 0 0 1.5em;
  list-style: disc;
}



/* TEXTS */

.form-error {
  display: block;
  font-size: .875rem;
  font-weight: 300;
  color: #AF001E;
}

input[type='checkbox'].form-error {
  display: inline-block;
}


  /* BUTTONS */

.btn-rts {
  padding: .75rem;
  width: 100%;
  color: #fff;
  background-color: #AF001E;
  border: 0;
}

.btn-rts:hover {
  color: #fff;
  background-color: #9C0011;
}

.rts-body.pop {
  background-color: #fcfcfc;
}


.top-image {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 2rem
}

.top-image img {
  font-size: 2rem;
  height: 1em;
  margin-bottom: 1rem;
}


@media (min-width: 699px) {
  .rts-body.pop  .top-image img {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .rts-body.pop  .container {
    margin-top: 2rem;
    margin-bottom: 2rem;

    display: flex;
    justify-items: center;
  }

  .rts-body.pop  .rts-form-container {
    box-shadow: 0 1px 5px 0 #d8d8d8;
    max-width: 38rem;
    margin: 0 auto;
    padding: 3rem 6rem;
    background: #fff;
  }

}
