<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Connexion - MaRTS - rts.ch</title>
    <meta name="viewport"
          content="width=device-width, viewport-fit=cover, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
          href="https://cloud.typography.com/7638132/678348/css/fonts.css">
    <link rel="stylesheet" type="text/css"
          href="https://hummingbird.rts.ch/hummingbird/res/fonts/srgssr/srgssr.css">
    <link rel="stylesheet" type="text/css"
          href="https://www.rts.ch/hummingbird-static/css/navigation-rts-c254cfeac661b4bf4c2c15c6f6936c9d.css">
    <link rel="stylesheet" type="text/css"
          href="https://www.rts.ch/hummingbird-static/css/rts-3b10de8b4b3f278f58790eb3d6c7f5f9.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://www.rts.ch/hummingbird-static/css/marts-f7be90533b56a4b212abcb1e58bcd416.css"/>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

</head>
<body class="marts-overlay universe-rts">
<main class="rts-layout layout-page large rts-overlay-hide-action">
    <div class="layout-container">
        <div class="rts-panel main rts-overlay-hide-action">
            <div class="rts-module bg-default">
                <div class="marts-form-container">
                    <h1>Demande de récupération de mot de passe</h1>
                    <div class="marts-form-success-message">Un e-mail contenant un lien de
                        réinitialisation de mot de passe vient de vous être envoyé. Celui-ci peut
                        arriver dans vos courriers indésirables (SPAM).
                    </div>
                    <form id="searchForm" class="marts-form">
                        <p class="align-justify">Pour récupérer votre mot de passe, veuillez saisir
                            l'adresse e-mail (identifiant) utilisée lors de la création de votre
                            compte. La procédure de récupération de votre mot de passe vous sera
                            envoyée par e-mail.</p>
                        <input id="email" type="email" name="email" class="text"
                               placeholder="Adresse email (identifiant)">
                        <input class="marts-button" type="submit" value="Continuer">
                    </form>
                    <p>
                        <a href="<%= login %>">Retour à la page de connexion</a>
                    </p>
                </div>
            </div>
        </div>
    </div>


    <script>
        $("#searchForm").submit(function (event) {
            event.preventDefault();
            var posting = $.post('<%= target %>', {email: $('#email').val()});
            posting.done(function (data) {
                $(".marts-form-success-message").show();
                $("#searchForm").hide();
            });
            posting.fail(function () {
                alert("Do something with error :)");
            })
        });
    </script>

</main>


</body>
</html>
