<!DOCTYPE html>
<html lang="fr">
<head><title>Connexion - MaRTS - rts.ch</title>

    <link rel="stylesheet" type="text/css"
          href="https://cloud.typography.com/7638132/678348/css/fonts.css">
    <link rel="stylesheet" type="text/css"
          href="https://hummingbird.rts.ch/hummingbird/res/fonts/srgssr/srgssr.css">
    <link rel="stylesheet" type="text/css"
          href="https://www.rts.ch/hummingbird-static/css/navigation-rts-c254cfeac661b4bf4c2c15c6f6936c9d.css">
    <link rel="stylesheet" type="text/css"
          href="https://www.rts.ch/hummingbird-static/css/rts-3b10de8b4b3f278f58790eb3d6c7f5f9.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://www.rts.ch/hummingbird-static/css/marts-f7be90533b56a4b212abcb1e58bcd416.css"/>
    <script src="/js/password-score.js" async defer></script>

</head>
<body class="marts-overlay universe-rts">
<main class="rts-layout layout-page large rts-overlay-hide-action">
    <div class="layout-container">
        <div class="rts-panel main rts-overlay-hide-action">
            <div class="rts-module bg-default">
                <header class="marts-overlay-header"><a href="/profile/login?popup=true"><span
                                class="rts-logo marts white"></span></a>
                </header>
                <div class="marts-form-container"><h1>Me connecter</h1>
                    <p>Pas encore membre ? <a href="/profile/new?popup=true">Créer un compte</a></p>
                    <form id="marts-login-form" class="marts-form" method="post"
                          action="<%= target %>">
                        <div class="marts-form-error-message"></div>
                        <input id="login_email" type="email" name="email" class="text"
                               placeholder="Email" required>
                        <input id="login_password"
                               type="password"
                               name="password"
                               class="text"
                               placeholder="Mot de passe"
                               required>
                        <input class="marts-button" type="submit" value="Continuer">
                        <p><a href="/profile/forgot-password?popup=true">Mot de passe oublié ?</a>
                        </p></form>
                    <ul class="alternative-logins">
                        <li class="alternative-login marts-login-facebook"><span
                                    class="rts-picto social facebook colored"></span>
                            <p class="login-name">Connectez-vous avec Facebook</p></li>
                        <li class="alternative-login marts-login-google">
                            <a href="<%= link('/api/v2/auth/google') %>"><span
                                        class="rts-picto social google colored"></span>
                                <p class="login-name">Connectez-vous avec Google</p></a>
                        </li>
                    </ul>
                    <p> Créer un compte maRTS m'offre la possibilité de classer mes médias dans des
                        listes et les consommer plus tard, d'accéder à mon historique de
                        consommation média, ainsi que la gestion de mon profil personnel</p></div>
            </div>
        </div>
    </div>
</main>


</body>
</html>